Flask==1.0.2
Flask-SQLAlchemy==2.4.0
mysqlclient
Authlib>=0.9
Flask-RestPlus
flask-uploads
oauth2client
flask-cors
flask-migrate==2.4.0
Jinja2==2.10
MarkupSafe==1.1.1
SQLAlchemy
Werkzeug==0.15.1
gunicorn==19.9.0
itsdangerous==1.1.0
psycopg2==2.7.7
mysql-connector-python
PyMySQL==0.9.3
marshmallow
python-dotenv==0.10.1
alembic==1.0.7
Click==7.0
Mako==1.0.7
MarkupSafe==1.1.1
python-dateutil==2.8.0
python-editor==1.0.4
six==1.12.0
SQLAlchemy==1.2.18
